<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-block-app-exit" version="1.0.0">

    <name>BlockAppExit2</name>
    <description>Blocks user from existing the current app via the home button or settings. Useful for launcher apps</description>
    <keywords>cordova,plugin,block,app,exit, android</keywords>
    <license>MIT</license>
    <js-module name="Block App Exit Plugin" src="www/blockAppExit.js">
        <clobbers target="cordova.plugins.blockAppExit" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <feature name="BlockAppExit">
                <param name="android-package" value="com.digitres.cordova.plugin.BlockAppExit"/>
            </feature>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:label='@string/activity_name']" mode="merge">
            <activity android:name="com.digitres.cordova.plugin.BlockActivity" android:keepScreenOn="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            </activity>
        </edit-config>

        <source-file src="src/android/com/digitres/cordova/plugin/block-app-exit.kt" target-dir="java/com/digitres/cordova/plugin/"/>
        <source-file src="src/android/com/digitres/cordova/plugin/block-activity.kt" target-dir="java/com/digitres/cordova/plugin/"/>
    </platform>
</plugin>